*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.container{
  background-color: #333;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25), 10px 10px 70px rgba(0,0,0,0.25), inset -5px -5px 15px rgba(0,0,0,0.5), inset 5px 5px 15px rgba(0,0,0,0.5)
}

.calculator-buttons{
  display: grid;
  gap: 10px;
  grid-column: 1fr;
  grid-auto-rows: 80px;
  grid-template-areas: 
   "value value value value"
   "c c divisor mult"
   "seven eight nine minus"
   "four five six plus"
   "one two three plus"
   "zer0 doublezero doti result"
  ;
}

.value{
  border-radius: 15px;
  border: none;
  text-align: right;
  background-color: rgb(81, 131, 81);
  padding: 5px;
  font-size: 1.8em;
  grid-area: value;
}

.num {
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: white;
  font-size: 1.3rem;
}

.num:hover{
  cursor: pointer;
}

.num:active{
  background-color: #555;
}

.c{
  grid-area: c;
  background-color: #900;
}

.dot{
  grid-area: doti;
}

.plus{
  grid-area: plus;
}

.divisor{
  grid-area: divisor;
}

.mult{
  grid-area: mult;
}

.minus{
  grid-area: minus;
}

.one{
  grid-area: one;
}

.two{
  grid-area: two;
}

.three{
  grid-area: three;
}

.four{
  grid-area: four;
}

.five{
  grid-area: five;
}

.six{
  grid-area: six;
}

.seven{
  grid-area: seven;
}

.eight{
  grid-area: eight;
}

.nine{
  grid-area: nine;
}

.zero{
  grid-area: zer0;
}

.doublezero{
  grid-area: doublezero;
}

.doublezero-value{
  position: absolute;
}

.result{
  background-color: rgb(75, 166, 241);
  grid-area: result;
}